<nav class="navbar is-fixed-top is-dark">
	<div class="navbar-brand">
		<a class="navbar-item" href="#/!">
			<img ng-src="{{ $ctrl.icon }}" alt="Angular + Firebase" height="28">
		</a>
	</div>

	<div class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="#/!">
				Home
			</a>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link" href="#/!">
					Actions
				</a>
				<div class="navbar-dropdown is-boxed">
					<a class="navbar-item">
						Overview
					</a>
					<a class="navbar-item">
						Modifiers
					</a>
					<a class="navbar-item">
						Columns
					</a>
					<a class="navbar-item">
						Layout
					</a>
					<a class="navbar-item">
						Form
					</a>
					<hr class="navbar-divider">
					<a class="navbar-item">
						Elements
					</a>
					<a class="navbar-item">
						Components
					</a>
				</div>
			</div>
		</div>

		<div class="navbar-end">
			<a class="navbar-item" href="#/!">
				<span class="icon">
					<i class="fa fa-sign-out"></i>
				</span>
				<span>
					Logout
				</span>
			</a>
		</div>
	</div>
</nav>